<div class="container">
  <div class="content">
    <div class="h-t">
      <h1 class="text-center pt-2">Chart JS</h1>
    </div>
    <div class="charts-container">
      <div class="fs-2">
        <div class="c-1">
          <div class="c-t">
            <p>Returns Line Chart</p>
          </div>
          <div class="c">
            <div style="display: block">
              <canvas baseChart [datasets]="returnsLineChartData"  height="90"
              [labels]="returnsLineChartLabels" 
              [options]="returnsLineChartOptions"
              [colors]="returnsLineChartColors" 
              [legend]="returnsLineChartLegend" 
              [chartType]="returnsLineChartType" 
              [plugins]="returnsLineChartPlugins">
              </canvas>
            </div>
          </div>
        </div>
        <div class="c-1">
          <div class="c-t">
            <p>Total Holdings Line Chart</p>
          </div>
          <div class="c">
            <div style="display: block">
              <canvas baseChart [datasets]="holdingsLineChartData"  height="90"
              [labels]="holdingsLineChartLabels" 
              [options]="holdingsLineChartOptions"
              [colors]="holdingsLineChartColors" 
              [legend]="holdingsLineChartLegend" 
              [chartType]="holdingsLineChartType" 
              [plugins]="holdingsLineChartPlugins">
              </canvas>
            </div>
          </div>
        </div>
        <div class="c-1">
          <div class="c-t">
            <p>Daily Turnover Chart</p>
          </div>
          <div class="c">
            <div style="display: block">
              <canvas baseChart [datasets]="dailyTurnoverChartData"  height="90"
              [labels]="dailyTurnoverChartLabels" 
              [options]="dailyTurnoverChartOptions"
              [colors]="dailyTurnoverChartColors" 
              [legend]="dailyTurnoverChartLegend" 
              [chartType]="dailyTurnoverChartType" 
              [plugins]="dailyTurnoverChartPlugins">
              </canvas>
            </div>
          </div>
        </div>
        <div class="c-1">
          <div class="c-t">
            <p>Rolling Volatility Chart</p>
          </div>
          <div class="c">
            <div style="display: block">
              <canvas baseChart [datasets]="rollingVolatilityChartData"  height="90"
              [labels]="rollingVolatilityChartLabels" 
              [options]="rollingVolatilityChartOptions"
              [colors]="rollingVolatilityChartColors" 
              [legend]="rollingVolatilityChartLegend" 
              [chartType]="rollingVolatilityChartType" 
              [plugins]="rollingVolatilityChartPlugins">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
